* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}

body {
	background: $backgroundColor;
	font-family: unquote(map-get($font-family, one));
	font-size: 18px;
}

img {
	@include WH;
}
